<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    {% block title %}
    <title>Base title</title>
    {% endblock title %}
</head>
<body>
    {% block header %}
    <header>
        <h1>Hello header</h1>
    </header>
    {% endblock header %}
    <main>
        {% block content %}
        <h2>Welcome main h2</h2>
        <p>main h2 paragraph</p>
        {% endblock content %}
    </main>
    {% block footer %}
    <footer>
        <h1>Website by Natalie Sinner</h1>
    </footer>
    {% endblock footer %}
</body>
</html>